<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Círculo</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>

<header class="encabezado">
    <h1>Calculadora básica con Flask</h1>

    <nav class="menu">
        <a href="{{ url_for('circulo') }}">Círculo</a>
    </nav>
</header>

<main class="contenedor">

    <section class="tarjeta-operacion">
        <h2>Área y perímetro del círculo</h2>

        <form method="POST">

            <label for="numero1">Número</label>

            <input id="numero1" name="numero1"
                   type="number" step="any" required>

            <button class="boton" type="submit">
                Calcular
            </button>

        </form>

        {% if area is not none %}
            <p class="resultado">
                Área: {{ area }}
            </p>

            <p class="resultado">
                Perímetro: {{ perimetro }}
            </p>
        {% endif %}

    </section>

</main>

</body>
</html>